/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-embed-sendy-block-embed-sendy {
	margin: 30px auto;
	padding: 50px 30px;
	background-color: #f5f5f5;
	text-align: center;
}

.wp-block-embed-sendy-block-embed-sendy .esd-form__fields {
	display: flex;
}

.wp-block-embed-sendy-block-embed-sendy .esd-form__row + .esd-form__row {
	margin-top: 30px;
}

.wp-block-embed-sendy-block-embed-sendy input[type='email'] {
	width: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	margin-right: 0;
}

.wp-block-embed-sendy-block-embed-sendy input[type='submit'] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	margin-left: 0;
}

.wp-block-embed-sendy-block-embed-sendy h1,
.wp-block-embed-sendy-block-embed-sendy h2,
.wp-block-embed-sendy-block-embed-sendy h3,
.wp-block-embed-sendy-block-embed-sendy h4,
.wp-block-embed-sendy-block-embed-sendy h5,
.wp-block-embed-sendy-block-embed-sendy h6 {
	color: inherit;
}

.esd-form__footer {
	font-size: 0.85em;
	p {
		font-size: inherit;
	}
}

.esd-form--show-name .esd-form__fields {
	display: block;

	> * {
		margin-bottom: 10px;
	}

	input:not([type=checkbox]) {
		width: 100%;
	}
}

.gdpr-row {
    font-size: 0.75em;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
